<h1>{{ member.name }}</h1>
<form ng-submit="updateMember()">
	<input type="text" ng-model="member.email" />
	<button type="submit">Cambiar</button>
</form>
<a href="#" ng-click="deleteMember($event)">Eliminar</a>
<hr />
<form ng-submit="createTask()">
	<input type="text" ng-model="task.title" />
	<input type="checkbox" ng-model="task.tomorrow" /> Es para mañana?<br><br>
	<button type="submit">Crear</button>
</form>
<div ng-show="taskstoday > '0'">
	Tareas para hoy
	<ul>
		<li ng-repeat="task in taskstoday">
			<a href="#/task/{{ task.slug }}">{{ task.title }}</a>
		</li>
	</ul>
</div>
<div ng-show="taskstomorrow > '0'">
	Tareas para mañana
	<ul>
		<li ng-repeat="task in taskstomorrow">
			<a href="#/task/{{ task.slug }}">{{ task.title }}</a>
		</li>
	</ul>
</div>
